* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #F9F9F9;
    display: flex;
    justify-content: center;
    padding: 10px; 
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.header-title, .header-button {
    flex: 1; 
    text-align: center; 
}

.header-button {
    margin-left: 15px; 
}


.container {
    width: 100%; 
    max-width: 1000px; 
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.culturas-card {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.culturas-card h2 {
    margin: 0 0 10px;
}

.culturas-list h1 {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.progress-bar {
    background-color: #ccc;
    border-radius: 5px;
    position: relative;
    height: 10px;
    margin: 10px 0;
    overflow: hidden; /* Impede que o conteúdo transborde */
}

.progress-bar-fill {
    background-color: #4caf50;
    height: 100%;
    border-radius: 5px;
    transition: width 0.3s ease; /* Suaviza a transição */
}

.progress-percentage {
    font-weight: bold;
    margin-top: 5px; /* Espaçamento acima */
    text-align: center; /* Centraliza o texto */
}

.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscar_box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25rem;
    margin-bottom: 1rem;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    background-color: #D9D9D9;
}

.search-input{
    width: 20rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    background-color: #D9D9D9;
}

.SVG {
    width: 24px;
    height: 24px;
    transition: 0.3s ease;
}

.SVG:hover {
    fill: #ffffff;
    stroke: #f4cc49;
}

footer {
    background-color: #f8f9fa;
    padding: 0.5rem;
    border-top: 1px solid #e0e0e0;
    position: relative; /* Alterado para relative */
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer nav a {
    color: #333;
    text-decoration: none;
    padding: 0.5rem;
}

.delete-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #e57373;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #ef5350;
}
