# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Django
*.log
*.pot
*.py[cod]
*.so
*.mo
*.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
*.pkl
.DS_Store

# Environments
venv/
venv.bak/
.vscode/
.idea/
*.local

# Static and media files
/staticfiles/
/media/
/static/
/mediafiles/

# Django migrations
**/migrations/*.py
!**/migrations/__init__.py

# pyenv
.python-version

# Editor and IDE files
.vscode/
.idea/

# JetBrains IDEs
*.iml
*.ipr
*.iws
.idea/

# macOS specific
.DS_Store

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
htmlcov/
.tox/
.nox/

# Temporary files
*.swp
