{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'segunda_app/css/add_commitment_page_styles.css' %}">
<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
{% endblock %}
<title>SOLI | CALENDÁRIO</title>
{% block sections %}
<div class="container">
    {% include 'header.html' %}
<section class="section1">
    <h1>Anotações - {{ selected_date }}</h1>
    <form action="{{ form_action }}" method="post">
        {% csrf_token %}
        <input type="hidden" name="date" value="{{ selected_date }}">

        <label for="description">Anotação</label>
        <textarea id="description" name="description" rows="5" required>{{ description }}</textarea>

        <button type="submit">Salvar</button>
    </form>
</section>
</div>
{% include 'footer.html' %}
{% endblock %}

