{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/add.css' %}">
    <script src="{% static 'js/scripts.js' %}"></script>
    <script>
        // Função para formatar datas
        function formatarDataParaBrasileiro(dataISO) {
            const [ano, mes, dia] = dataISO.split('-');
            return `${dia}/${mes}/${ano}`;
        }

        function formatarDataParaISO(dataBR) {
            const [dia, mes, ano] = dataBR.split('/');
            return `${ano}-${mes}-${dia}`;
        }

        // Função para carregar datas no formato brasileiro ao carregar a página
        function carregarDataEmFormatoBrasileiro() {
            const dataPlantio = document.getElementById('data_plantio');
            const dataColheita = document.getElementById('data_colheita');
            
            if (dataPlantio.value) {
                const dataFormatada = formatarDataParaBrasileiro(dataPlantio.value);
                dataPlantio.valueAsDate = new Date(dataPlantio.value);
                dataPlantio.setAttribute('data-formatted', dataFormatada);
            }
            if (dataColheita.value) {
                const dataFormatada = formatarDataParaBrasileiro(dataColheita.value);
                dataColheita.valueAsDate = new Date(dataColheita.value);
                dataColheita.setAttribute('data-formatted', dataFormatada);
            }
        }

        // Validar e formatar a data para o formato ISO ao submeter o formulário
        function validateForm(event) {
            const dataPlantio = document.getElementById('data_plantio');
            const dataColheita = document.getElementById('data_colheita');

            if (dataPlantio.value) {
                dataPlantio.value = dataPlantio.valueAsDate.toISOString().split('T')[0];
            }
            if (dataColheita.value) {
                dataColheita.value = dataColheita.valueAsDate.toISOString().split('T')[0];
            }
        }

        document.addEventListener('DOMContentLoaded', carregarDataEmFormatoBrasileiro);
    </script>
</head>
<body>
    <div class="container">
        {% include 'header.html' %}
        
        <div class="content">
            <form method="post" onsubmit="validateForm(event)">
                {% csrf_token %}
                <div class="container_cult">
                    <label for="">Cultura:</label>
                    <select name="cultura" class="input_cultura" required>
                        <option value="select">Selecione a cultura...</option>
                        <option value="tomate">Tomate</option>
                        <option value="brocolis">Brócolis</option>
                        <option value="alface">Alface</option>
                    </select>
                </div>
    
                <hr>
                
                <div class="container_loc-desc">
                    <span class="span_localizacao">
                        <label for="localizacao">Localização</label>
                        <div class="div_localizacao">
                            <select name="area" class="input_localizacao" required>
                                <option value="select">Área</option>
                                <option value="AreaA">A</option>
                                <option value="AreaB">B</option>
                                <option value="AreaC">C</option>
                                <option value="AreaD">D</option>
                                <option value="AreaE">E</option>
                            </select>
                            <select name="linha" class="input_localizacao" required>
                                <option value="select">Linha</option>
                                <option value="linha1">1</option>
                                <option value="linha2">2</option>
                                <option value="linha3">3</option>
                                <option value="linha4">4</option>
                            </select>
                        </div>
                    </span>
                    
                    <span class="span">
                        <label for="descricao">Descrição</label>
                        <input type="text" name="descricao" placeholder="Digite aqui...">
                    </span>
                    
                </div>
                
                <hr>
                
                <div class="container_data">
                    <span class="span">
                        <label for="data_plantio">Data de Plantio</label>
                        <input type="date" id="data_plantio" name="data_plantio" required>
                    </span>
                    
                    <span class="span">
                        <label for="data_colheita">Data de Colheita</label>
                        <input type="date" id="data_colheita" name="data_colheita" readonly>
                    </span>
                </div>
                
                <div class="container_data2">
                    <p>Duração:</p>
                    <div class="div_data_num">
                        <input type="number" id="duracao" name="duracao" placeholder="..." class="input_number" onchange="calcularDataColheita()" min="0" required>
                        <select name="unidade_duracao" id="unidade_duracao" class="select_atv" onchange="calcularDataColheita()">
                            <option value="dias">dias</option>
                            <option value="semanas">semanas</option>
                            <option value="meses">meses</option>
                            <option value="anos">anos</option>
                        </select>
                    </div>
                </div>
                
                <hr>
                <br>
                
                <div class="atividades">
                    <label for="adicionar_atv">Adicionar atividades:</label>
                    <div class="hold_atv-p">
                        <p>Irrigação:</p>
                        <div class="atv">
                            <p>A cada</p>
                            <input type="number" name="irrigacao_frequencia" placeholder="..." class="input_number" min="0">
                            <select name="irrigacao_unidade" class="select_atv">
                                <option value="dias">dias</option>
                                <option value="semanas">semanas</option>
                                <option value="meses">meses</option>
                                <option value="anos">anos</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="hold_atv-p">
                        <p>Poda:</p>
                        <div class="atv">
                            <p>A cada</p>
                            <input type="number" name="poda_frequencia" placeholder="..." class="input_number" min="0">
                            <select name="poda_unidade" class="select_atv">
                                <option value="dias">dias</option>
                                <option value="semanas">semanas</option>
                                <option value="meses">meses</option>
                                <option value="anos">anos</option>
                            </select>
                        </div>
                    </div>
                </div>
    
                <div class="button-holder">
                    <button type="button" class="botao_adicionar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="17" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus">
                            <path d="M5 12h14"/>
                            <path d="M12 5v14"/>
                        </svg>
                    </button>
                    <button type="submit" class="registrar_cultura">Concluído</button>
                </div>
            </form>
        </div>

        {% include 'footer.html' %}
    </div>
</body>
</html>
