{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previsão e Lembretes</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="container">
        <!-- Cabeçalho com data e menu -->
        {% include 'header.html' %}

        <!-- Previsão do tempo -->
        <section class="weather" id="dps">
            <div class="current-weather">
                <p>Agora</p>
                <span>29°</span>
            </div>
            <div class="hourly-forecast">
                <div class="hour">08:00<br>28°</div>
                <div class="hour">09:00<br>26°</div>
                <div class="hour">10:00<br>25°</div>
                <div class="hour">11:00<br>27°</div>
                <div class="hour">12:00<br>26°</div>
                <div class="hour">13:00<br>28°</div>
            </div>
            <div class="weather-details">
                <div class="detail">
                    <span>UMIDADE</span>
                    <p>70%</p>
                </div>
                <div class="detail">
                    <span>PRECIPITAÇÃO</span>
                    <p>2mm</p>
                </div>
                <div class="detail">
                    <span>FASE DA LUA</span>
                    <p>Minguante</p>
                </div>
            </div>
        </section>

        <!-- Lembretes -->
        <section class="reminders">
            <h2>Lembretes</h2>
            <ul>
                <li class="reminder">Colher do Alface H1L4 <input class="checkbox" type="checkbox"></li>
                <li class="reminder">Aguar Tomate R2L3 <input class="checkbox" type="checkbox"></li>
                <li class="reminder">Ligar para Darci <input class="checkbox" type="checkbox"></li> 
            </ul>
                <button class="botao_adicionar"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="17" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus"><path d="M5 12h14"/><path d="M12 5v14"/></svg></button>
        </section>


        {% include 'footer.html' %}
    </div>
</body>
</html>
