{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previsão e Lembretes</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 
</head>
<body>
    <div class="container">
        {% include 'header.html' %}

        <section class="weather" id="dps">
            <div class="current-weather">
                <p id="location">Localização: --</p>
                <p id="temperature">Temperatura: --°C</p>
                <p id="humidity">Umidade: --%</p>
                <p id="precipitation">Condição: --</p>
            </div>
        </section>

        <section class="reminders">
            <h2>Lembretes</h2>
            <ul>
                {% for reminder in reminders %}
                    <li class="reminder">{{ reminder.text }}
                        <form action="{% url 'app_soli:excluir_lembrete' reminder.id %}" method="POST" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" title="Excluir" style="border:none; background:none; cursor:pointer;">
                                <i class="fas fa-trash" style="color: red; width: 20px;"></i>  <!-- Ícone de lixeira -->
                            </button>
                        </form>
                    </li>
                {% endfor %}
            </ul>

            <form class="form_reminder" method="POST">
                {% csrf_token %}
                <input class="reminder" type="text" name="text" placeholder="Novo lembrete..." required>
                <button type="submit" class="botao_adicionar">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="17" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="reminder-plus">
                        <path d="M5 12h14"/><path d="M12 5v14"/>
                    </svg>
                </button>
            </form>
        </section>

        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}

        {% include 'footer.html' %}
    </div>
    
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
