<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Culturas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/verculturas.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="{% static 'js/scripts.js' %}"></script>
</head>

<body>
    <div class="container">
        {% include 'header.html' %}

        <section class="culturas-list">
            <h1>Procurar por Culturas</h1>
            <a href="{% url 'app_soli:procurarlinha' %}" class="botao {% if request.path == '/verculturas/' %}ativo{% endif %}">
                <span class="parte-esquerda">Culturas</span>
                <span class="parte-direita">Linhas</span>
            </a>

            <div class="search-box">
                <div class="buscar_box">
                    <input type="search" id="searchInput" placeholder="Busque aqui..." class="search-input">
                    <i class="bi bi-search"></i>  
                </div>
            </div>

            <p id="no-results">Nenhuma cultura foi encontrada.</p>

            <div id="culturas-results">
                {% for cultura in culturas %}
                <div class="culturas-card" id="cultura-{{ cultura.id }}">
                    <h2 class="cultura-nome">{{ cultura.nome }} - {{ cultura.data_plantio|date:"d/m/Y" }}</h2>
                    <p class="cultura-area">Área: {{ cultura.area }}</p>
                    <p class="cultura-linha">Linhas: {{ cultura.linha }}</p>
                    <p class="cultura-data-plantio">
                        Data de Plantio: <input type="date" class="data-plantio" value="{{ cultura.data_plantio|date:'Y-m-d' }}" disabled>
                    </p>
                    <p class="cultura-data-colheita">
                        Data de Colheita: <input type="date" class="data-colheita" value="{{ cultura.data_colheita|date:'Y-m-d' }}" disabled>
                    </p>
                    <p class="tempo-restante">Tempo restante: {{ cultura.tempo_restante }}</p>
                    <p>Progresso:</p>
                    <div class="progress-bar">
                        <div class="progress-bar-fill" style="width: {{ cultura.progresso }}%"></div>
                    </div>
                    <p class="progress-percentage">{{ cultura.progresso }}%</p>

                    <!-- Botão para editar cultura -->
                    <button class="editar-btn" onclick="editarCultura({{ cultura.id }});" title="Editar" style="border:none; background:none; cursor:pointer; float:right;">
                        <i class="fas fa-pencil-alt" style="color: blue; width: 20px;"></i>
                    </button>

                    <!-- Botão para confirmar mudanças -->
                    <button class="confirmar-edicao" onclick="editarCultura({{ cultura.id }});" style="display:none; border:none; background:none; cursor:pointer; float:right;">
                        <i class="fas fa-check" style="color: green; width: 20px;" title="Confirmar"></i>
                    </button>

                    <!-- Botão para excluir cultura -->
                    <form action="{% url 'app_soli:excluir_cultura' cultura.id %}" method="POST" style="display:inline;" onsubmit="return confirmarExclusao();">
                        {% csrf_token %}
                        <button type="submit" title="Excluir" style="border:none; background:none; cursor:pointer;">
                            <i class="fas fa-trash" style="color: red; width: 20px;"></i>
                        </button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </section>

        {% include 'footer.html' %}
    </div>
</body>

</html>
